body { 
	min-width: 960px;
	margin: 0px auto 0px auto;
}
.main {
	height: 630px;
	min-width: 1080px;


	background-image:url('../images/WDFBanner3.jpg');
	background-repeat: no-repeat;
	/*background-position: cover;*/
	background-size: 100%;
	position: relative;
}

.logo {
	float:left;
	margin-left: 15px;
}

.logo img {
	width: 301px;
}


.search {
	float:right;
	width: 300px;
	height: 112px;
}

.search img {
	width: 38px;
	height: 38px;
	float: right;
	margin-right: 20px;
	margin-top: 18px;


}

.search input {
	display: inline;
	border: 1px solid gray; 
	border-radius: 5px;
	width: 150px;
	height: 20px;
	margin: 0px 20px 0px 0px;
	font-family: "Baskerville";
	margin-top: 30px;
	margin-left: 60px;
	font-size: 10px;
}

.search p {
	color: gray;
	font-family: "Baskerville";
	font-size: 15px;
	margin-left: 115px;
}
.quote {
	width: 400px;
	height: 300px;

	
	right: 60px;
	top: 225px;
	margin-left: 30px;
	text-align: center;
	position: absolute;

	font-family:'Great Vibes', cursive; 
	font-size: 40px;

}

.quote > p {
	color: #775168;
}

.quote_button {
	width: 300px;
	height: 50px;
	margin: auto;

	position:absolute;
	left: 50px;
	top: 100px;

	background-color: #775168;
	opacity: 0.7;
	font-family:'Baskerville'; 
	font-size: 20px;
	line-height: 50px;
	color: white;
}

nav {
	width: 100%;
	height: 75px;

	position:absolute;
	top: 555px;

	background-color: #C02774;
	opacity: 0.7;
	text-align: center;
}

li {
	display: inline;
	padding: 10px 50px 0px 50px;
	font-family:'Baskerville';
	line-height: 70px;
	font-size: 20px;

}

li a {
	text-decoration: none;
	color: white;
}

li a:hover {
	color: #d8984c;
}

.sub_main {
	width: 100%;
	background-image:url('../images/WDFBanner1.jpg');
	background-size: 150%;
	background-repeat: no-repeat;
}

.join {
	width: 100%;
	/*height: 80px;*/
	/*position: relative;*/
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 70px;
}

.join .text {
	float: left;
	color: gray;
}

.join .header {
	font-family: 'Great Vibes', cursive;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.join .copy {
	font-family: 'Baskerville';
	font-size: 16px;
	line-height: 150%;
	width: 220px;
}

.join .sign_up {
/*	width: 600px;
	margin: 0 auto;
	*/
	float: left;
	position: relative;
	top: 30px;
	margin-left: 80px;
}

.sign_up input {
	display: inline;
	border: 1px solid gray; 
	border-radius: 5px;
	width: 250px;
	height: 20px;
	margin: 0px 40px 0px 0px;
	font-family: "Baskerville";

	float: right;

}

.promotions_block {
	margin: 0 auto;
	width: 75%;
	text-align:center;
}

.promo {
	text-align:left;
	display: inline-block;
	width: 20%;
	margin: 0 5%;
	/*margin: 45px auto;*/
	/*box-shadow: 12px 12px 9px #b6b6b6;*/

}

.promo img {
	width: 100%;
}

.awards {
	margin: 10px auto;
	width: 600px;
	text-align: center;
	font-family:'Great Vibes', cursive;
	font-size: 30px;
}

.award_title {
	margin: 10px auto;
	width: 600px;
	text-align: center;
	font-family:'Great Vibes', cursive;
	font-size: 30px;
	color: gray;
}

.award img {
	width: 90px;
	height: 90px;
	margin: 20px 30px 60px 30px;

	float: left;
}

footer {
	width: 100%;
	height: 150px;

	background-color: #c02774;
	opacity: 0.6;
}

.buying_guide {
	width: 20%;
	color: white;
	margin: 0 0 0 180px;
	padding-top: 10px; 
	font-family: 'Great Vibes', cursive;
	font-size: 20px;
	float: left;

}


.buying_guide ul{
	display: inline-block;
	font-family: "Baskerville";
	font-size: 14px;
	width: 110px;
	margin-top: 10px;
}

.buying_guide ul a {
	text-decoration: none;
	color: white;

}

.store_information {
	width: 20%;
	color: white;
	margin: 0 0px 0 20px;
	padding-top: 10px; 
	font-family: 'Great Vibes', cursive;
	font-size: 20px;
	margin-left: 10px;
	float: left;

}

.store_information ul {
	display: inline-block;
	font-family: "Baskerville";
	font-size: 14px;
	width: 120px;
	margin-top: 10px;
}

.store_information ul a {
	text-decoration: none;
	color: white;

}

.checkout {
	width: 15%;
	color: white;
	margin: 0 0 0 20px;
	padding-top: 10px; 
	font-family: 'Great Vibes', cursive;
	font-size: 20px;
	margin-left: 20px;
	float: left;

}

.checkout ul {
	display: inline-block;
	font-family: "Baskerville";
	font-size: 14px;
	width: 120px;
	margin-top: 10px;
}

.checkout ul a {
	text-decoration: none;
	color: white;

}

/*.social_media {
	width: 15%;
	color: white;
	margin: 0 0 0 20px;
	padding-top: 10px; 
	font-family: 'Great Vibes', cursive;
	font-size: 20px;
	margin-left: 20px;
	float: left;
	}*/

	.social_media ul {
		display: inline-block;
		font-family: "Font-Awesome";
		font-size: 14px;
		width: 120px;
		margin-top: 10px;
		color: white;
	}

	.social_media li {
		display: inline;
		line-height: 30px;

	}


	.clearfix {
		clear: both;
	}

/*.main {
	width: 100%; 
	height: 300px;
	margin-bottom: 200px;
	}

.header {
	width: 100%;
	height: 40px;
	padding-left: 10px;
	z-index: -1;
	position: relative;
}

.shop {
	background-color: #775168;
	float: right;
	margin: 80px 50px 50px 400px;
	height: 200px;
	width: 400px;
}
.navigation {
	background-color: #c02774;
	width: 100%;
	height: 40px;
	opacity: .60;
}
  li {
      display: inline;
      padding: 0px 80px 0px 30px;
      margin-left: 30px; 
      text-decoration: none;	
}
.signup {
	background-color: white;
	margin-top: 20px; 
	margin-bottom: 20px; 
}
.bubbles {
	background-color: #c5ccd4;
	height: 500px;
	width: 100%;
}
.promotions {
	margin: 30px 0px 0px 300px;
	width: 960px;

}
.promo {
	float:left;
	width: 200px;
	height: 400px;
	background-color: #fff;
	padding: 0px 20px 0px 40px 
}
.awards {
	background-color:pink;
}
.footer {
	background-color: #c02774;
	}*/
